$white: #eae9e1;
$purple: #af98e6;
$blue: #51c7da;
$yellow: #fada5d;
$green: #83c192;
$pink: #f29c9f;
$orange: #ffbd50;


#aboutMe{
    color : $pink;
}

#projects{
    color : $green;
}

#blog{
    color : $yellow;
}

#things{
    color : $blue;
}
  
#resume{
    color : $purple;
}